In [1]:
import pandas as pd

In [2]:
import ndjson

with open('realdonaldtrump.ndjson') as f:
    data = ndjson.load(f)

In [3]:
df=pd.DataFrame(data)

In [4]:
print(len(df.drop_duplicates('id')))

40241

In [5]:
df2=pd.read_csv('tweets_from_trumptweetssite.csv')

In [6]:
df2['id_str']

0        1.205150e+18
1        1.205134e+18
2        1.205133e+18
3        1.205132e+18
4        1.205129e+18
             ...
40686    1.773561e+09
40687    1.741161e+09
40688    1.737480e+09
40689    1.701461e+09
40690    1.698309e+09
Name: id_str, Length: 40691, dtype: float64

In [7]:
import numpy as np

In [8]:
df2.dropna(inplace=True)

In [9]:
df2['id_str']=df2['id_str'].astype(np.int64)

In [10]:
df=df.merge(df2,left_on='id',right_on='id_str',how='inner')

In [11]:
len(df)

24192

In [12]:
df.drop('text_x',1,inplace=True)

In [13]:
df.rename(columns={'text_y': 'text'}, inplace=True)

In [14]:
df.drop('created_at_x',1,inplace=True)
df.rename(columns={'created_at_y': 'created_at_utc'}, inplace=True)

In [15]:
df["favorite_count"] = df[["favorite_count_x", "favorite_count_y"]].max(axis=1)
df.drop(["favorite_count_x", "favorite_count_y"],1,inplace=True)

In [16]:
df.drop(['id_str_x','id_str_y'],1,inplace=True)

In [17]:
df.drop(['contributors'],1,inplace=True)

In [18]:
df.drop(['favorited'],1,inplace=True)

In [19]:
df.drop(['in_reply_to_status_id_str','in_reply_to_user_id_str'],1,inplace=True)

In [20]:
df['retrieved_utc']=df['retrieved_utc'].astype(np.int64)

In [21]:
df["retweet_count"] = df[["retweet_count_x", "retweet_count_y"]].max(axis=1)
df.drop(["retweet_count_x", "retweet_count_y"],1,inplace=True)

In [22]:
df.drop(['retweeted'],1,inplace=True)

In [23]:
df.drop('source_x',1,inplace=True)
df.rename(columns={'source_y': 'source'}, inplace=True)

In [24]:
df['user'].to_csv('user_column.csv')

C:\Users\natan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [26]:
df.drop(["user"],1,inplace=True)

In [27]:
df.drop(["quoted_status_id_str"],1,inplace=True)

In [28]:
df.drop(["withheld_copyright"],1,inplace=True)

In [29]:
df.drop(["withheld_in_countries"],1,inplace=True)

In [30]:
df.drop(["withheld_scope"],1,inplace=True)

In [31]:
df.drop(["scopes"],1,inplace=True)

In [32]:
df.columns

Index(['coordinates', 'entities', 'geo', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'is_quote_status',
       'lang', 'place', 'retrieved_utc', 'truncated', 'possibly_sensitive',
       'extended_entities', 'quoted_status', 'quoted_status_id',
       'retweeted_status', 'source', 'text', 'created_at_utc', 'is_retweet',
       'favorite_count', 'retweet_count'],
      dtype='object')

In [33]:
df['hashtags']=[d.get('hashtags') for d in df['entities']]

In [34]:
df['user_mentions']=[d.get('user_mentions') for d in df['entities']]

In [35]:
df.drop(["entities"],1,inplace=True)

In [36]:
temp=[pd.DataFrame(x) for x in df['hashtags']]

In [37]:
temp2=[x['text'].to_dict() if len(x)>0 else np.nan for x in temp]

In [38]:
df['hashtags']=temp2

In [39]:
df['hashtags'].value_counts()

{0: 'Trump2016'}                                292
{0: 'MakeAmericaGreatAgain'}                    159
{0: 'CelebApprentice'}                          148
{0: 'MAGA'}                                      94
{0: 'MakeAmericaGreatAgain', 1: 'Trump2016'}     72
                                               ...
{0: 'BenghaziHearings', 1: 'pathetic'}            1
{0: 'almostgraduating'}                           1
{0: 'Broward'}                                    1
{0: 'Crowd'}                                      1
{0: 'NeverTrump'}                                 1
Name: hashtags, Length: 1552, dtype: int64

In [40]:
temp=[pd.DataFrame(x) for x in df['user_mentions']]
temp2=[x['screen_name'].to_dict() if len(x)>0 else np.nan for x in temp]
df['user_mentions']=temp2

In [41]:
df['user_mentions'].value_counts()

{0: 'realDonaldTrump'}                                        805
{0: 'BarackObama'}                                            305
{0: 'foxandfriends'}                                          152
{0: 'MittRomney'}                                             106
{0: 'FoxNews'}                                                 87
                                                             ...
{0: 'IvankaTrump', 1: 'EricTrump', 2: 'DonaldJTrumpJr'}         1
{0: 'PrisonPlanet'}                                             1
{0: 'realDonaldTrump', 1: 'gameexpress1'}                       1
{0: 'Jmano33', 1: 'realDonaldTrump'}                            1
{0: 'vettesetter', 1: 'realDonaldTrump', 2: 'usatopinion'}      1
Name: user_mentions, Length: 9137, dtype: int64

In [42]:
new_tweets=pd.read_csv('tweets_from_trumptweetssite_from100719.csv')

In [43]:
new_tweets.columns

Index(['source', 'text', 'created_at', 'retweet_count', 'favorite_count',
       'is_retweet', 'id_str'],
      dtype='object')

In [44]:
df.columns

Index(['coordinates', 'geo', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'is_quote_status',
       'lang', 'place', 'retrieved_utc', 'truncated', 'possibly_sensitive',
       'extended_entities', 'quoted_status', 'quoted_status_id',
       'retweeted_status', 'source', 'text', 'created_at_utc', 'is_retweet',
       'favorite_count', 'retweet_count', 'hashtags', 'user_mentions'],
      dtype='object')

In [45]:
new_tweets.rename(columns={'created_at': 'created_at_utc','id_str': 'id'}, inplace=True)

In [46]:
new_tweets.drop_duplicates('text',inplace=True)

In [47]:
df=df.append(new_tweets, ignore_index = True)

C:\Users\natan\Anaconda3\lib\site-packages\pandas\core\frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [48]:
len(df.astype(str).drop_duplicates('text'))

28584

In [51]:
len(df)

28584

In [50]:
df=df.drop_duplicates('text')

In [54]:
df['created_at_utc']=pd.to_datetime(df['created_at_utc'], errors='raise')

In [57]:
df.sort_values('created_at_utc',inplace=True)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28584 entries, 0 to 24192
Data columns (total 24 columns):
coordinates                1466 non-null object
created_at_utc             28584 non-null datetime64[ns]
extended_entities          1344 non-null object
favorite_count             28584 non-null int64
geo                        1466 non-null object
hashtags                   3310 non-null object
id                         28584 non-null int64
in_reply_to_screen_name    1601 non-null object
in_reply_to_status_id      1305 non-null float64
in_reply_to_user_id        1601 non-null float64
is_quote_status            24116 non-null object
is_retweet                 28584 non-null object
lang                       24116 non-null object
place                      1846 non-null object
possibly_sensitive         5528 non-null object
quoted_status              281 non-null object
quoted_status_id           367 non-null float64
retrieved_utc              24116 non-null float64
retweet_count              28584 non-null float64
retweeted_status           940 non-null object
source                     28584 non-null object
text                       28584 non-null object
truncated                  24116 non-null object
user_mentions              13498 non-null object
dtypes: datetime64[ns](1), float64(5), int64(2), object(16)
memory usage: 5.5+ MB

In [60]:
df.to_csv('trump_tweets_reducted.csv')