In [1]:
import pandas as pd

In [3]:
financial_data=pd.read_csv('04052009-10062020-SPYDIA-minutedata.csv',parse_dates=['DATETIME'])

In [5]:
financial_data.head()

             DATETIME SYM_ROOT  SYM_SUFFIX  SIZE    PRICE
0 2009-05-04 04:15:00      SPY         0.0  5300  88.6375
1 2009-05-04 04:26:00      SPY         0.0   100  88.6600
2 2009-05-04 04:35:00      SPY         0.0  2800  88.5550
3 2009-05-04 04:42:00      SPY         0.0   600  88.6000
4 2009-05-04 04:50:00      SPY         0.0   500  88.5420

In [14]:
sum(financial_data.loc[(financial_data['SYM_ROOT'] == 'DIA') & (financial_data['DATETIME'] >= '2019-12-13 12:28:00') & 
                   (financial_data['DATETIME'] <= '2019-12-13 12:43:00'), 'SIZE'])

19856

In [15]:
sum(financial_data.loc[(financial_data['SYM_ROOT'] == 'DIA') & (financial_data['DATETIME'] >= '2019-12-13 12:43:00') & 
                   (financial_data['DATETIME'] <= '2019-12-13 12:58:00'), 'SIZE'])

47262

In [16]:
47262/19856

2.380237711522965