In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('d2d2aab8f36c9951.csv')

In [23]:
df[df['DATE']==20180104]

            DATE              TIME_M SYM_ROOT  SYM_SUFFIX     SIZE   PRICE
467060  20180104   4:00:00.029960000      SPY         NaN      100  270.50
467061  20180104   4:03:15.018364000      SPY         NaN       50  270.62
467062  20180104   4:09:04.520558000      SPY         NaN       20  270.70
467063  20180104   4:09:04.520600000      SPY         NaN       10  270.70
467064  20180104   4:09:34.585364000      SPY         NaN     1000  270.72
...          ...                 ...      ...         ...      ...     ...
673631  20180104  19:59:31.125600000      SPY         NaN        2  271.80
673632  20180104  19:59:46.767850000      SPY         NaN      175  271.80
673633  20180104  19:59:59.742683000      SPY         NaN      588  271.81
673634  20180104  20:00:00.002614000      SPY         NaN        0  271.61
673635  20180104  20:00:00.002638000      SPY         NaN  4638144  271.61

[206576 rows x 6 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99197474 entries, 0 to 99197473
Data columns (total 6 columns):
DATE          int64
TIME_M        object
SYM_ROOT      object
SYM_SUFFIX    float64
SIZE          int64
PRICE         float64
dtypes: float64(2), int64(2), object(2)
memory usage: 4.4+ GB

In [24]:
df_example = df.loc[:206576]

In [25]:
df_example.to_csv('df_example_one_day.csv')