In [11]:
import pandas as pd

In [138]:
import ndjson

with open('realdonaldtrump.ndjson') as f:
    data = ndjson.load(f)

In [139]:
df=pd.DataFrame(data)

In [140]:
print(len(df.drop_duplicates('id')))

40241

In [141]:
df2=pd.read_csv('tweets_from_trumptweetssite.csv')

In [117]:
df2['id_str']

0        1205150488280350720
1        1205134155853574144
2        1205132856135168000
3        1205132201534377984
4        1205128914571603968
                ...
40686             1773561338
40687             1741160716
40688             1737479987
40689             1701461182
40690             1698308935
Name: id_str, Length: 40626, dtype: int64

In [79]:
import numpy as np

In [142]:
df2.dropna(inplace=True)

In [143]:
df2['id_str']=df2['id_str'].astype(np.int64)

In [144]:
df=df.merge(df2,left_on='id',right_on='id_str',how='inner')

In [145]:
len(df)

24192

In [180]:
df.drop('text_x',1,inplace=True)

In [189]:
df.rename(columns={'text_y': 'text'}, inplace=True)

In [191]:
df.drop('created_at_x',1,inplace=True)
df.rename(columns={'created_at_y': 'created_at_utc'}, inplace=True)

In [200]:
df["favorite_count"] = df[["favorite_count_x", "favorite_count_y"]].max(axis=1)
df.drop(["favorite_count_x", "favorite_count_y"],1,inplace=True)

In [203]:
df.drop(['id_str_x','id_str_y'],1,inplace=True)

In [209]:
df.drop(['contributors'],1,inplace=True)

In [214]:
df.drop(['favorited'],1,inplace=True)

In [217]:
df.drop(['in_reply_to_status_id_str','in_reply_to_user_id_str'],1,inplace=True)

In [228]:
df['retrieved_utc']=df['retrieved_utc'].astype(np.int64)

In [232]:
df["retweet_count"] = df[["retweet_count_x", "retweet_count_y"]].max(axis=1)
df.drop(["retweet_count_x", "retweet_count_y"],1,inplace=True)

In [236]:
df.drop(['retweeted'],1,inplace=True)

In [241]:
df.drop('source_x',1,inplace=True)
df.rename(columns={'source_y': 'source'}, inplace=True)

In [246]:
df['user'].to_csv('user_column.csv')

C:\Users\natan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [261]:
df.drop(["user", "user1"],1,inplace=True)

In [279]:
df.drop(["quoted_status_id_str"],1,inplace=True)

In [284]:
df.drop(["withheld_copyright"],1,inplace=True)

In [287]:
df.drop(["withheld_in_countries"],1,inplace=True)

In [290]:
df.drop(["withheld_scope"],1,inplace=True)

In [295]:
df.drop(["scopes"],1,inplace=True)

In [292]:
df.columns

Index(['coordinates', 'entities', 'geo', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'is_quote_status',
       'lang', 'place', 'retrieved_utc', 'truncated', 'possibly_sensitive',
       'extended_entities', 'quoted_status', 'quoted_status_id',
       'retweeted_status', 'scopes', 'source', 'text', 'created_at_utc',
       'is_retweet', 'favorite_count', 'retweet_count'],
      dtype='object')

In [ ]:
df['hashtags']=[d.get('hashtags') for d in df['entities']]

In [316]:
df['user_mentions']=[d.get('user_mentions') for d in df['entities']]

In [319]:
df.drop(["entities"],1,inplace=True)

In [337]:
temp=[pd.DataFrame(x) for x in df['hashtags']]

In [361]:
temp2=[x['text'].to_dict() if len(x)>0 else np.nan for x in temp]

In [363]:
df['hashtags']=temp2

In [365]:
df['hashtags'].value_counts()

{0: 'Trump2016'}                                292
{0: 'MakeAmericaGreatAgain'}                    159
{0: 'CelebApprentice'}                          148
{0: 'MAGA'}                                      94
{0: 'MakeAmericaGreatAgain', 1: 'Trump2016'}     72
                                               ...
{0: 'BenghaziHearings', 1: 'pathetic'}            1
{0: 'almostgraduating'}                           1
{0: 'Broward'}                                    1
{0: 'Crowd'}                                      1
{0: 'NeverTrump'}                                 1
Name: hashtags, Length: 1552, dtype: int64

In [369]:
temp=[pd.DataFrame(x) for x in df['user_mentions']]
temp2=[x['screen_name'].to_dict() if len(x)>0 else np.nan for x in temp]
df['user_mentions']=temp2

In [370]:
df['user_mentions'].value_counts()

{0: 'realDonaldTrump'}                                        805
{0: 'BarackObama'}                                            305
{0: 'foxandfriends'}                                          152
{0: 'MittRomney'}                                             106
{0: 'FoxNews'}                                                 87
                                                             ...
{0: 'IvankaTrump', 1: 'EricTrump', 2: 'DonaldJTrumpJr'}         1
{0: 'PrisonPlanet'}                                             1
{0: 'realDonaldTrump', 1: 'gameexpress1'}                       1
{0: 'Jmano33', 1: 'realDonaldTrump'}                            1
{0: 'vettesetter', 1: 'realDonaldTrump', 2: 'usatopinion'}      1
Name: user_mentions, Length: 9137, dtype: int64

In [371]:
new_tweets=pd.read_csv('tweets_from_trumptweetssite_from100719.csv')

In [372]:
new_tweets.columns

Index(['source', 'text', 'created_at', 'retweet_count', 'favorite_count',
       'is_retweet', 'id_str'],
      dtype='object')

In [374]:
df.columns

Index(['coordinates', 'geo', 'id', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_user_id', 'is_quote_status',
       'lang', 'place', 'retrieved_utc', 'truncated', 'possibly_sensitive',
       'extended_entities', 'quoted_status', 'quoted_status_id',
       'retweeted_status', 'source', 'text', 'created_at_utc', 'is_retweet',
       'favorite_count', 'retweet_count', 'hashtags', 'user_mentions'],
      dtype='object')

In [377]:
new_tweets.rename(columns={'created_at': 'created_at_utc','id_str': 'id'}, inplace=True)

In [385]:
new_tweets.drop_duplicates('text',inplace=True)

In [389]:
df=df.append(new_tweets, ignore_index = True)

In [396]:
len(df.astype(str).drop_duplicates('text'))

28584

In [397]:
len(df)

28689

In [395]:
df.to_csv('trump_tweets_reducted.csv')

In [398]:
df

,coordinates,created_at_utc,extended_entities,favorite_count,geo,hashtags,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,possibly_sensitive,quoted_status,quoted_status_id,retrieved_utc,retweet_count,retweeted_status,source,text,truncated,user_mentions
0,None,05-04-2009 18:54:25,NaN,850,None,NaN,1698308935,None,NaN,NaN,...,NaN,NaN,NaN,1.562867e+09,501.0,NaN,Twitter Web Client,Be sure to tune in and watch Donald Trump on L...,False,NaN
1,None,05-05-2009 01:00:10,NaN,282,None,NaN,1701461182,None,NaN,NaN,...,NaN,NaN,NaN,1.562867e+09,33.0,NaN,Twitter Web Client,Donald Trump will be appearing on The View tom...,False,NaN
2,None,05-08-2009 13:38:08,NaN,16,None,NaN,1737479987,None,NaN,NaN,...,NaN,NaN,NaN,1.562867e+09,13.0,NaN,Twitter Web Client,Donald Trump reads Top Ten Financial Tips on L...,False,NaN
3,None,05-08-2009 20:40:15,NaN,28,None,NaN,1741160716,None,NaN,NaN,...,NaN,NaN,NaN,1.562867e+09,12.0,NaN,Twitter Web Client,New Blog Post: Celebrity Apprentice Finale and...,False,NaN
4,None,05-12-2009 14:07:28,NaN,1950,None,NaN,1773561338,None,NaN,NaN,...,NaN,NaN,NaN,1.562867e+09,1422.0,NaN,Twitter Web Client,My persona will never be that of a wallflower ...,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28684,NaN,07-10-2019 01:36:14,NaN,68984,NaN,NaN,1148767855351128064,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17869.0,NaN,Twitter for iPhone,More and more the Radical Left is using Commer...,NaN,NaN
28685,NaN,07-10-2019 01:30:08,NaN,95607,NaN,NaN,1148766319640227841,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,20267.0,NaN,Twitter for iPhone,....to your favorite President me! These peopl...,NaN,NaN
28686,NaN,07-10-2019 01:30:08,NaN,95930,NaN,NaN,1148766318906281985,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,21708.0,NaN,Twitter for iPhone,A truly great patriotic &amp; charitable man B...,NaN,NaN
28687,NaN,07-10-2019 00:13:42,NaN,88969,NaN,NaN,1148747084167831553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17600.0,NaN,Twitter for iPhone,....Why would Kentucky ever think of giving up...,NaN,NaN
28688,NaN,07-10-2019 00:13:41,NaN,80955,NaN,NaN,1148747083219984384,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,17081.0,NaN,Twitter for iPhone,Democrats are coming after our great Kentucky ...,NaN,NaN